*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #1c1f26;
    height: 100vh;
}

.text{
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 25px;
    color: white;
}

.container {
    border-radius: 60px;
    position: relative;
    height: 70vh;
    width: 40vw;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    /* background-color: rgba(255, 255, 255, 0.05); */
}

.line{
    width: 100%;
}

.input{
    width: 97%;
    margin: 10px 10px 10px 10px;
    /* background-color: rgba(255, 255, 255, 0.1); */
}

.heading{
    text-align: center;
    font-size: 20px;
    width: 100%;
}

.from{
    height: 24vh;
    border-radius: 60px 60px 0px 0px;
}

.to{
    height: 24vh;
    border-radius: 0px 0px 60px 60px;
    /* border: 2px solid black; */
}

.currencyFrom{
    width: 50%;
}

.moneyFrom{
    width: 50%;
}

.currencyTo{
    width: 50%;
}

.moneyTo{
    width: 50%;
}

#fromCurrency{
    padding: 8px 12px;
    border: none;
    font-size: 24px;
    /* background-color: rgba(255, 255, 255, 0.1); */

}

#toCurrency{
    padding: 8px 12px;
    border: none;
    font-size: 24px;
}

#from{
    padding: 18px 0px;
    width: 10vw;
    font-size: 24px;
    text-align: center;
    border: none;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}

#to{
    padding: 18px 0px;
    width: 10vw;
    font-size: 24px;
    text-align: center;
    border: none;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}

#btn{
    margin-top: 30px;
    padding: 15px 100px;
    font-size: 24px;
    background-color: rgb(75, 137, 244);
    border-radius: 35px;
    border: none;
}

#btn:hover{
    cursor: pointer;
}