*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1c1f26;
}

.container{
    width: 70vw;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 15vw;
    border-radius: 30px;
    margin-top: 12vh;
}

.header{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
}

.data{
    width: 90%;
    margin: auto;
    margin-top: 5vh;
}

input{
    background-color: rgba(255, 255, 255, 0.07);
    /* padding: 2.5vh 8vw; */
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    padding-right: 13vw;
    padding-left: 4vw;
    border: none;
    border-radius: 5px;
    margin-right: 2vw;
    font-size: 16px;
    color: white;
}

input:active{
    background-color: rgba(255, 255, 255, 0.07);
}

input:hover{
    background-color: rgba(255, 247, 247, 0.1);
}

.std{
    width: 50%;
    margin-top: 4vh;
    margin-left: 25%;
}

table{
    border-collapse: collapse;
}

td{
    color: white;
    border: 3px solid cyan;
    padding: 2vh 5vw;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.buttons{
    width: 70%;
    margin-left: 21%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.student{
    background-color: rgb(55, 131, 202);
    padding: 1.8vh 5vw;
    border: none;
    margin-right: 1.8vw;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}